/* ALL */
@font-face {
    font-family: "Circular Std Book";
    src: url("/fonts/Circular\ Std\ Book.ttf");
    font-family: "Circular Std Black";
    src: url("/fonts/Circular\ Std\ Black.ttf");
    font-family: "Circular Std Bold Italic";
    src: url("/fonts/Circular\ Std\ Bold\ Italic.ttf");
    font-family: "Circular Std Bold";
    src: url("/fonts/Circular\ Std\ Bold.ttf");
    font-family: "Circular Std Medium";
    src: url("/fonts/Circular\ Std\ Medium.ttf");
}
html, body{
    margin: 0;
    font-family: "Circular Std Book";
    /* overflow-x: hidden;
    overflow-y: scroll; */
}
h1{
    font-size: 71px;
    line-height: 78px;
    font-family: "Circular Std Black";
    color: #112D57;
}
h2{
    font-size: 56px;
    line-height: 65px;
    font-family: "Circular Std Bold";
    color: #5C5C5C;
}
h3{
    font-size: 36px;
    line-height: 42px;
    font-family: "Circular Std Book";
    color: #5C5C5C;
}
h4{
    font-size: 24px;
    line-height: 38px;
    font-family: "Circular Std Book";
    color: #5C5C5C;
}
h5{
    font-size: 18px;
    line-height: 28px;
    font-family: "Circular Std Book";
    color: #5C5C5C;
}
p{
    font-size: 19px;
    line-height: 30px;
    font-family: "Circular Std Book";
    color: #5C5C5C;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
}
a{
    text-decoration: none;
    color: #20262A;
    font-size: 18px;
}

/* NAVIGATION */
nav{
    background-color: white;
}

.nav-container{
    
    display: grid;
    max-width: 1120px;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(120, auto);
    align-items: center;
    
}
.logo{
    justify-self: start;
}
.menus{
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}
.login{
    justify-self: end;
}
button{
    height: 52px;
    min-width: 140px;
    border-radius: 85px;
    font-size: 18px;
    padding: 0 32px;
    font-family: "Circular Std Bold";
}
.button-border{
    color: #00B6F0;
    border: 1px solid #00B6F0;
    background-color: transparent;
    
}
.button-blue{
    border: none;
    background-color: #00B6F0;
    color: white;
    margin-right: 12px;
}
.button-white{
    border: none;
    background-color: white;
    margin-left: 12px;
    
}


/* HERO SECTION */
.hero{
    background-image: linear-gradient(white 20%, rgba(0, 255, 198, 25%) 60%, white );
    padding-top: 130px;
   
}
.shape{
    background-image: url("/img/shape.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.shape p{
    margin: 16px 0 0 0;
}

.hero > * {
    text-align: center;
}
.wrapper-button-cta{
    margin: 80px auto 0  auto;
}
.browser-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px; 
    max-width: 90%;
    /* position: relative; */
    /* bottom: 600px; */
}


/* CTA TEXT SECTION */
.cta-text{
    padding: 62px 0;
}
.cta-text h3{
    color: #F3CD03;
}
.cta-text h2{
    padding-top: 24px;
    color: #20262A;
}
.cta-text p {
    margin-top: 24px;
}
.cta-text > *{
    text-align: center;
}

.wrapper-button-cta-2{
    margin-top: 60px;
}
.margin-l-12{
    margin-left: 12px;
}
.wrapper-button-cta-2 .button-blue{
    min-width: 209.91px;
}


/* SECTION FEATURE 1 */
.bg-blue{
    /* background-image: url("/img/vector\ blue\ full.png"); */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.feature-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    max-width: 1120px;
    margin: 162px auto 0 auto;
}
.wrapper-feature-1{
    align-self: center;
}
.wrapper-feature-1 h3{
    color: #20262A;
}
.wrapper-feature-1 h3, .wrapper-feature-1 p{
    margin-bottom: 24px;
}
.a-learn{
    color: #00B6F0;
}



/* SECTION FEATURE 1 */
.bg-yellow .wrapper-feature-1 {
    order: 1;
}


/* SECTION RETHINK */
.rethink h1{
    margin-top: 162px;
    text-align: center;
}
.rethink p{
    margin-top: 24px;
    text-align: center;
}
.progress-wrapper{
    width: 757px;
    margin: 80px auto 52px auto;
}
.progress-bar{
    width: 100%;
}
/* .rethink div{
    display: inline-block;
} */
.rethink .facebook{
    display: inline-block;
}
.number{
    float: right;
}
.clear{
    clear: right;
}

.btn-get-started{
    display: block;
    margin: auto;
}


/* TESTIMONIAL SECTION */
.testimonial{
    
}
.testimonial h3{
    margin-top: 220px;
    text-align: center;
    color: #20262A;
}
.testimonial img{
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.testimonial p{
    margin-top: 50px;
    text-align: center;
}
.wrapper-avatar{
    margin: 50px auto 0 auto;
    display: grid;
    width: 300px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 14px;
}
.avatar{
    align-self: center;
    justify-self: end;
}
.avatar img{
    margin: 0;
}

.name-job h5{
    font-size: 16px;
}
.btn-all-testi{
    display: block;
    margin: 50px auto 108px auto;
}


/* PRICING SECTION */
.pricing{
    background-color: #182333;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 167px;
    padding: 100px 200px;
    
}
.pricing > div:nth-child(1){

}
.dollar{
    display: inline-block;
}
.month-user{
    display: inline-block;
}
h5.free, .month-user, .p-most{
    color: white;
}
.dollar{
    color: #F3CD03;
}
.pricing div:nth-child(1) > *{
    color: white;
}
.pricing .pricing-1 p{
    margin-top: 32px;
}
.free{
    margin-bottom: 24px;
}
.month-user{
    margin-bottom: 32px;
}
.p-most{
    margin-bottom: 24px;
}


/* SECTION ERGONOMIC */
.ergonomic{
    background-image: linear-gradient(#E9FAFF, white);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    padding: 100px 200px;
}
.ergonomic .button-blue{
    margin-top: 24px;
}
.ergonomic h3{
    color: #20262A;
}


/* FOOTER */
footer .nav-container{
    padding-top: 60px;
    padding-bottom: 60px;
}
.social{
    justify-self: end;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    justify-items: end;
}
